<section class="project-details-section" *ngIf="collaboratorForm">
    <h2>Collaborator Details</h2>

    <form [formGroup]="collaboratorForm" (ngSubmit)="submitEdit()">
      <div class="details-box">
        <label>ID:
          <input type="number" formControlName="id"/>
        </label>

        <label>userId:
          <input type="number" formControlName="userId" />
        </label>

        <label>Start Date:
          <input type="date" formControlName="initDate" />
        </label>

        <label>End Date:
          <input type="date" formControlName="finalDate" />
        </label>

        <button type="submit">Save</button>
      </div>
    </form>
  </section>