<div>
    <button (click)="toggleView('project')">Projects</button>
    <button (click)="toggleView('collaborator')">Collaborators</button>
    <button (click)="toggleView('holidayPlan')">Holiday Plans</button>
  </div>

  <app-project-list *ngIf="viewType === 'project'"></app-project-list>
  <app-project-list-bullets *ngIf="viewType === 'project'"></app-project-list-bullets>


   @if((viewType=='project')){
    <app-project-details></app-project-details>
   }

  <app-collaborator-component *ngIf="viewType === 'collaborator'"></app-collaborator-component>
  <app-collaborator-list-bullets *ngIf="viewType === 'collaborator'"></app-collaborator-list-bullets>

  @if((viewType=='collaborator' )){
  <app-collaborator-details></app-collaborator-details>}

  <app-holiday-plan-list *ngIf="viewType === 'holidayPlan'"></app-holiday-plan-list>
  <app-holiday-plan-list-bullets *ngIf="viewType === 'holidayPlan'"></app-holiday-plan-list-bullets>


  @if(viewType === 'holidayPlan'){
    <app-holiday-plan-details></app-holiday-plan-details>
}